@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import "./variable.scss";

.react-input-texboxs-wrapper {
  * {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Roboto", "arial";
    font-size: 14px;
  }
  input {
    border: 0;
    border-bottom: 1px solid $border-grey-color;
    width: 100%;
    padding: 30px 0 10px;
  }

  .input-floating-wrapper {
    position: relative;
    margin-bottom: 10px;
    &.enabled label {
      top: 5px;
      font-size: 12px;
      color: $active-blue-color;
    }
    &.enabled input {
      border-bottom: 2px solid $active-blue-color;
    }
    input {
      transition: 0.3s ease all;
    }
    label {
      position: absolute;
      left: 0;
      top: 32px;
      transition: 0.3s ease all;
    }
    input:hover {
      border-bottom: 2px solid $black-color;
    }
    input:focus {
      border-bottom: 2px solid $active-blue-color;
    }
    input:focus ~ label {
      top: 5px;
      font-size: 13px;
      color: $active-blue-color;
    }
  }

  &.outline {
    .input-floating-wrapper {
      input {
        border: 1px solid $border-grey-color;
        padding: 18px 20px 14px;
        border-radius: 3px;
      }
      label {
        left: 20px;
        top: calc(50% - 8px);
      }
      input:hover {
        border: 1px solid $black-color;
      }
      input:focus {
        border: 1px solid $active-blue-color;
      }
      input:focus ~ label {
        top: -8px;
        font-size: 13px;
        color: $active-blue-color;
        padding: 2px 5px;
        background: $white-color;
      }
      &.enabled label {
        top: -8px;
        font-size: 13px;
        color: $active-blue-color;
        padding: 2px 5px;
        background: $white-color;
      }
      &.enabled input {
        border: 1px solid $active-blue-color;
      }
    }
  }

  /* Normal Tex box with place holder */
  .input-standared-wrapper {
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
    input {
      &:hover{
        border-color:#000;
      }
      padding: 15px 20px;
      display: flex;
      border: 1px solid #ddd;
      border-radius: 3px;
      transition:.3s ease all;
    }
  }
  &.withlabel{
    .input-standared-wrapper {
      label{
        padding:0 0 10px;
      }
    }
  }
  /* Normal Tex box with place holder */
}
